.qqq {
  background: rgb(100, 96, 96);
  height: 500px;
  width: 500px;
  cursor: grab;
  margin-bottom: 15px;
  border-radius: 7px;
  border: 3px;
  border-color: black;
  padding: 5px;
}
.qqq:hover {
  opacity: 0.8;
}
